@font-face {
  font-family: 'Lemon/Milk';
  src: url('../fonts/LemonMilkbold.woff2') format('woff2'),
      url('../fonts/LemonMilkbold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lemon/Milk';
  src: url('../fonts/LemonMilklight.woff2') format('woff2'),
      url('../fonts/LemonMilklight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lemon/Milk';
  src: url('../fonts/LemonMilkbolditalic.woff2') format('woff2'),
      url('../fonts/LemonMilkbolditalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Lemon/Milk';
  src: url('../fonts/LemonMilkitalic.woff2') format('woff2'),
      url('../fonts/LemonMilkitalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Lemon/Milk';
  src: url('../fonts/LemonMilk.woff2') format('woff2'),
      url('../fonts/LemonMilk.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lemon/Milk';
  src: url('../fonts/LemonMilklightitalic.woff2') format('woff2'),
      url('../fonts/LemonMilklightitalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

