body{
  background-color: black;
  color: white;
  font-family: Avenir ;
  overscroll-behavior: none;
  nav{
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 3;
    transition-duration: 400ms;
    display: flex;
    flex-direction: column;
    &.move{
      opacity: 0;
    }.croi{
      height: 30px;
      display: block;
      margin: auto;
      transform: translateY(50px);
      z-index: -2;
      fill: black;
      opacity: 0 ;
      transition: opacity 0.6s , transform 1s ;
      &.active{
        transform: initial;
        opacity: initial;
      }
    }
    p{
      transition: font-size 0.3s , width 0.7s 0.4s  ;
      z-index: 2;
      font-size: 1px;
      color: black;
      border: 1px solid white;
      margin: 2px;
      padding-left: 45px;
      padding-top: 6px;
      background-color: rgba(0, 0, 0, 0.589);
      width: 0vw;
      &.active{
        transition: all 0.5s 0.4s ,font-size 0.5s 0.3s , width 0.5s  ;
        font-size: initial;
        color: white;
        border: 1px solid white;
        margin: 5px;
        width: 83vw;
        text-align: center;
        padding: 5px;
      }
    }
  }
  
  .circle {
    position: sticky;
    position: -webkit-sticky ;
    top: 200px;
    z-index: -1;
    margin: -190px auto auto auto;
    left: calc(50% - 150px);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow:
    inset 0 0 50px #fff,
    inset 20px 0 80px #f0f,
    inset -20px 0 80px #0ff,
    inset 20px 0 300px #f0f,
    inset -20px 0 300px #0ff,
    0 0 50px #fff,
    -10px 0 80px #f0f,
    10px 0 80px #0ff;
    -webkit-animation: rotation 4s infinite linear;
  }
  
  @-webkit-keyframes rotation {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(359deg);
    }
  }
  .logo{
    position: fixed;
    top : 10px;
    left: -20px;
    img{
      height: 65px;;
    } 
  }
}

.circlesWhite{
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  top: -8vh;
  left: -20vw;
  height: 100vh;
  width: 140vw;
  stroke-dasharray: 100 ;
  animation: rotationCircle 10s infinite;
  transform-origin: center;
  
  animation-timing-function: cubic-bezier(.17,.67,.83,.67) ;
  
  @media screen and ( min-width : 800px ){
    left: 0vw;
    top: -32%;
    height: 140vh;
    width: 100vw;
  }
}




.cursor{
  position: absolute;
  z-index: 100;
  pointer-events: none;
  &.cursor__one{
    transition: left 60ms , top 60ms ;
    height: 15px;
  }&.cursor__two{
    transition: left 50ms , top 50ms ;
    height: 25px;
  }
}


body{
  cursor: none ;
}

@keyframes write {
  to{
    stroke-dashoffset: 0;
  }
}

@keyframes rotationCircle {
  100% {
    transform: rotate( 1turn );
  }
}
