body{
  background-color: black;
  color: white;
  font-family: Avenir ;
  overscroll-behavior: none;
  nav{
    position: fixed;
    bottom: 10px;
    right: 10px;
    p{
      font-size: 1px;
      color: black;
      border: 1px solid white;
      margin: 5px;
      padding-left: 45px;
      padding-top: 6px;
    }
  }
  
  .circle {
    position: sticky;
    top: 150px;
    z-index: -1;
    margin: -190px auto auto auto;
    //top: -1050px;
    left: calc(50% - 150px);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow:
    inset 0 0 50px #fff,
    inset 20px 0 80px #f0f,
    inset -20px 0 80px #0ff,
    inset 20px 0 300px #f0f,
    inset -20px 0 300px #0ff,
    0 0 50px #fff,
    -10px 0 80px #f0f,
    10px 0 80px #0ff;
    -webkit-animation: rotation 4s infinite linear;
  }
  
  @-webkit-keyframes rotation {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(359deg);
    }
  }
  .logo{
    padding-top: 15px;
    img{
      height: 65px;;
    } 
  }
}



